<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header> This is online Chess </header>
    <nav>
      <ul> 
          <li>Home</li>
          <li>News</li>
          <li>About</li>
          <li>Search</li>
          <li>Support</li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
